:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --primary-light: #ddd;
    --primary-dark: #333;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: lightcoral;
}

#grid-cont {
    display: grid;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.grid-item {
    padding: 1em;
    width: 1px;
    height: 1px;
    border: 1px solid var(--primary-dark);
    text-align: center;
}

.grid-item:hover {
    background: purple;
}